[submodule "lib/oz"]
	path = lib/oz
	url = git@github.com:OpenZeppelin/openzeppelin-contracts.git
[submodule "lib/oz-upgradeable"]
	path = lib/oz-upgradeable
	url = git@github.com:OpenZeppelin/openzeppelin-contracts-upgradeable.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = git@github.com:foundry-rs/forge-std.git
