# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/**/*run*

# Report files
coverage/
lcov.info
gasreport.ansi
output.sarif

# Docs
docs/

# Dotenv file
.env

# Mac OS files
.DS_Store

# NPM modules
node_modules

# User Settings
.vscode/

.wake/

build/

# local deployments
deployments/anvil_localnet/
