# 
# When running a forge script manually, some of the environment variables are required.
#
# Example run: 
# forge script script/DeployNodeRegistry.s.sol --broadcast --rpc-url http://localhost:7545

# This is the first default private key for anvil. Nothing sensitive here.
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

### XMTP deployment configuration ###

# Admin addresses
XMTP_GROUP_MESSAGE_BROADCASTER_ADMIN_ADDRESS=0xdeadbeef
XMTP_IDENTITY_UPDATE_BROADCASTER_ADMIN_ADDRESS=0xdeadbeef
XMTP_NODE_REGISTRY_ADMIN_ADDRESS=0xdeadbeef
XMTP_RATE_REGISTRY_ADMIN_ADDRESS=0xdeadbeef

# Contract addresses
XMTP_CREATE3_FACTORY_ADDRESS=0xdeadbeef
