[profile.default]
auto_detect_solc = true
src = "src"
out = "out"
libs = ["lib"]
gas_reports = ["*"]
optimizer = true
optimizer_runs = 999_999
fs_permissions = [
    { access = "read-write", path = "environments"},
    { access = "read", path = "config"}
]

[profile.default.fuzz]
runs = 1_000

[profile.ci.fuzz]
runs = 10_000

[profile.local]
bytecode_hash = "none"

[rpc_endpoints]
base_sepolia = "${BASE_SEPOLIA_RPC_URL}"
base_mainnet = "${BASE_MAINNET_RPC_URL}"
xmtp_ropsten = "${XMTP_ROPSTEN_RPC_URL}"
xmtp_mainnet = "${XMTP_MAINNET_RPC_URL}"
anvil = "${ANVIL_RPC_URL}"
tenderly = "${TENDERLY_RPC_URL}"
